 #button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.swallowIcon {
  display: none;
  width: 2rem;
  height: 2rem;
  padding: .25rem;
  background-color: transparent;
  border: none;
  position: relative;
}

.swallowIcon span {
  width: 1.5rem;
  height: .563rem;
  position: absolute;
  top: calc(.25rem + .563rem - 1px);
  left: calc(.25rem - 1px);
  transition: transform 1s cubic-bezier(.86, 0, .07, 1),
              transform-origin 1s cubic-bezier(.86, 0, .07, 1);
}

.swallowIcon span:before,
.swallowIcon span:after {
  content: "";
  width: .75rem;
  height: .125rem;
  background-color: black;
  position: absolute;
  bottom: 0;
  transition: transform 1s cubic-bezier(.86, 0, .07, 1),
              transform-origin 1s cubic-bezier(.86, 0, .07, 1);
}

.swallowIcon span:before {
  right: 50%;
  border-radius: 2px 0 0 2px;
  transform-origin: 100% 100%;
  transform: rotate(40deg);
}

.swallowIcon span:after {
  left: 50%;
  border-radius: 0 2px 2px 0;
  transform-origin: 0 100%;
  transform: rotate(-40deg);
}

.swallowIcon:hover span {
  transform: translateY(-8px);
}

.swallowIcon:hover span:before {
  transform-origin: 100% 0;
  transform: rotate(-40deg);
}

.swallowIcon:hover span:after {
  transform-origin: 0 0;
  transform: rotate(40deg);
}

@media (max-width: 500px) {
	.swallowIcon {
		display: block;
	}
}	